/* 
 Example 
 */

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
$example-theme-color: #F10215;
.example {
    &-top {
        position:fixed;
        top:0;
        left:0;
        right:0;
        padding: 0 60px;
        height: 60px;
        line-height: 60px;
        background: linear-gradient(top, $example-theme-color, #F75656);
        color: #FFF;
        box-shadow:0 1px 10px #F325254A;
        .title {
            font-size: 20px;
            font-weight: bold;
            strong {
                margin-left: 10px;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
    &-container {
        margin-top:60px;
        padding: 30px 60px;
         fieldset {
            margin-bottom: 50px;
            border: none;
            border-top: 1px solid #eee;
            legend {
                margin-left: 40px;
                padding: 0 10px; // height:30px;
                font-size: 16px;
            }
        }
        .items{
            height:40px;
            line-height:40px;
            border-bottom:1px solid #efefef;
        }
    }
    &-slide {
        .btn {
            position: fixed;
            right: 0;
            bottom: 100px;
            width: 160px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: $example-theme-color;
            color: #fff;
            display: none;
        }
        .b2 {
            bottom: 50px;
        }
    }
}