/* 
 Example 
 */

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
$example-theme-color: #ff6428;
.example {
    &-top {
        padding: 0 60px;
        height: 60px;
        line-height: 60px;
        background: $example-theme-color;
        color: #FFF;
        .title {
            font-size: 20px;
            font-weight: bold;
            strong {
                margin-left: 10px;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
    &-container {
        padding: 30px 60px;
    }
    &-slide {
        .btn {
            position: fixed;
            right: 0;
            bottom: 100px;
            width: 160px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: $example-theme-color;
            color: #fff;
            display: none;
        }
        .b2 {
            bottom: 50px;
        }
    }
}